{% extends 'base.html.twig' %}

{% block title %}Discount index{% endblock %}

{% block body %}
    <h1>Discount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Discount_percent</th>
                <th>Active</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr>
                <td>{{ discount.id }}</td>
                <td>{{ discount.name }}</td>
                <td>{{ discount.description }}</td>
                <td>{{ discount.discountPercent }}</td>
                <td>{{ discount.active ? 'Yes' : 'No' }}</td>
                <td>{{ discount.createdAt ? discount.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ discount.modifiedAt ? discount.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ discount.deletedAt ? discount.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('discount_show', {'id': discount.id}) }}">show</a>
                    <a href="{{ path('discount_edit', {'id': discount.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discount_new') }}">Create new</a>
{% endblock %}
